[Desktop Entry]
Categories=Qt;KDE;Graphics;Viewer;
Comment=eInk-optimized ebook reader with Tinta4PlusU integration
Exec=eink-reader %U
GenericName=eBook Reader
Icon=eink-reader
MimeType=application/pdf;application/x-cbr;application/ereader;application/x-mobipocket-subscription;application/x-mobipocket-ebook;application/x-mobi8-ebook;application/epub+zip;application/x-cbz;
Name=eInk Reader
Type=Application
X-KDE-StartupNotify=false
